#header {
    background: url('images/banner.png') repeat-x center;
}

.embed-yt {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 560px;
    height: 315px;

    @include breakpoint(tablet) {
        width: 100%;
    }

    @include breakpoint(mobile) {
        width: 100%;
        height: auto;
    }
}

.row-wide {
    padding-top: 15px;
    padding-bottom: 15px;
}

.su-box:first-child {
    margin-right: 8px;
    padding: 15px;
}

.su-box:last-child {
    margin-left: 8px;
    padding: 15px;
}

.su-banner {
    width: 100%;
    height: 100%;

    @include breakpoint(mobile) {
        display: none;
    }
}

.su-box {
    border: 2px solid #5374b9;

    @include breakpoint(mobile) {
        display: none;
    }

    ul h1 {
        font-size: 1.2em;
    }
}
