#header {
    background: url('images/banner.png') repeat-x center;
}

.embed-yt {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.row-wide {
  padding-top: 15px;
  padding-bottom: 15px;
}
